/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    list-style-type: none;
}


@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src:
         url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),   
         url("../fonts/poppins-v20-latin-500.woff") format("woff");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 600;
    src:
         url("../fonts/poppins-v20-latin-600.woff2") format("woff2"),
         url("../fonts/poppins-v20-latin-600.woff") format("woff");
  }
  @font-face {
    font-family: "Poppins";
    font-weight: 700;
    src:
         url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
         url("../fonts/poppins-v20-latin-700.woff") format("woff");
  }


:root{
    --main-color: #ffffff;
}

body{
    margin: 0;
    font-family: "Poppins";
}
.section-wrapper {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 121px;
    padding-bottom: 121px;
    background-image: url("../images/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.container {
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.learn-box {
    width: 525px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}
.heading {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;    
    color: var(--main-color);
}
.learn-text {
    margin-top: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-color);
}
.form-wrapper {
    width: 540px;
    -webkit-box-shadow: 0px 8px 0px #00000025;
            box-shadow: 0px 8px 0px #00000025;
    border-radius: 10px;
}
.try-it {
    display: block;
    margin-bottom: 25px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-decoration: none;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.267857px;
    color: var(--main-color);
    background-color: #5E54A4;
    -webkit-box-shadow: 0px 8px 0px #00000025;
            box-shadow: 0px 8px 0px #00000025;
    border-radius: 10px;
}
.thereafter{
    color: #c4bee7;
}
.form-box {
    padding: 40px;
    background-color: var(--main-color);
    border-radius: 10px;
}
.input-data {
    width: 100%;
    margin-bottom: 6px;
    padding: 15px 32px;
    border-radius: 5px;
    outline: none;
    background: var(--main-color);
    border: 1px solid #5E54A4;
}
.input-data:not(:-moz-placeholder-shown):not(:focus):invalid {
    border-color: #FF7979;
    background-image: url("../images/warning.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right 24px center;
}
.input-data:not(:-ms-input-placeholder):not(:focus):invalid {
    border-color: #FF7979;
    background-image: url("../images/warning.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right 24px center;
}
.input-data:not(:placeholder-shown):not(:focus):invalid {
    border-color: #FF7979;
    background-image: url("../images/warning.svg");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right 24px center;
}
.input-data:not(:-moz-placeholder-shown):not(:focus):invalid~ .warning{
    opacity: 1;
}
.input-data:not(:-ms-input-placeholder):not(:focus):invalid~ .warning{
    opacity: 1;
}
.input-data:not(:placeholder-shown):not(:focus):invalid~ .warning{
    opacity: 1;
}
.warning{
    display: block;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    text-align: right;
    color: #FF7979;
    opacity: 0;
}
.input-data:focus{
    -webkit-box-shadow: 0 0 0 2px #5E54A4;
            box-shadow: 0 0 0 2px #5E54A4;
}
.input-data::-webkit-input-placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    opacity: 0.75;
}
.input-data::-moz-placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    opacity: 0.75;
}
.input-data:-ms-input-placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    opacity: 0.75;
}
.input-data::-ms-input-placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    opacity: 0.75;
}
.input-data::placeholder{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 0.25px;
    color: #3D3B48;
    opacity: 0.75;
}
.claim {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    background-color: #38CC8B;
    -webkit-box-shadow: inset 0px -4px 0px #00000017;
            box-shadow: inset 0px -4px 0px #00000017;
    border-radius: 5px;
    color: var(--main-color);
    border: none;
}
.form-text {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    color: #BAB7D4;
}
.click {
    font-weight: 500;
    font-size: 11px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    color: #000;
}